{% extends "base.html" %} {% block content %}
<div class="col-md-12" id="pass-reset-form">
    {% if validlink %}
    <p>Inserisci (e conferma) la nuova password.</p>
    <form action="" method="post" id="pass-reset-input">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">Nuova password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Conferma password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
        </table>
        <input type="submit" value="Cambia password" id="bottone" />
    </form>
</div>
{% else %}
<div class="col-md-12">
    <h1>Password reset failed</h1>
    <p>Il link per il ripristino della password non è valido oppure è già stato utilizzato. Effettua una nuova richiesta di ripristino password.
        <br><a href="{% url 'password_reset' %}">Richiedi</a>
    </p>
</div>
{% endif %} {% endblock %}
