{% extends 'base.html' %} {% block content %}

<form method="post" id="change" >
    {% csrf_token %} {{ form }}
    <button type="submit">Salva</button>
</form>
{% endblock %}

<form method="post">
    <input type='hidden' name='csrfmiddlewaretoken' value='reWxnyvqo5d6bcEYvP73M6Jq5sJdHmnhqzNFCcxjExndcAs00JEWDwLGgFk932iU' />
    <tr>
        <th><label for="id_old_password">Old password:</label></th>
        <td><input type="password" name="old_password" required id="id_old_password" autofocus /></td>
    </tr>
    <tr>
        <th><label for="id_new_password1">New password:</label></th>
        <td><input type="password" name="new_password1" required id="id_new_password1" /><br /><span class="helptext"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></span></td>
    </tr>
    <tr>
        <th><label for="id_new_password2">New password confirmation:</label></th>
        <td><input type="password" name="new_password2" required id="id_new_password2" /></td>
    </tr>
    <button type="submit">Salva</button>
</form>
